.memo-card {
    width: 150px;
    height: 190px;
    border-color: gold;
}

.front-card {
    transform: rotateY(180deg);
    transition: 1s;
}

.overlay-card {
    transform: rotateY(180deg);
    transition: 1s;
    position: absolute;
}

.flipped {
    transform: rotateY(0deg);
}

